{% load static %}

<!DOCTYPE html>
<html lang="">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <link href="{% static '/favicon.ico' %}" rel="icon"/>
  <title>
   vue-lms
  </title>
  <link as="style" href="{% static '/css/app.82f88b36.css' %}" rel="preload"/>
  <link as="style" href="{% static '/css/chunk-vendors.0cae0c42.css' %}" rel="preload"/>
  <link as="script" href="{% static '/js/app.ce7e87f3.js' %}" rel="preload"/>
  <link as="script" href="{% static '/js/chunk-vendors.aeb0b350.js' %}" rel="preload"/>
  <link href="{% static '/css/chunk-vendors.0cae0c42.css' %}" rel="stylesheet"/>
  <link href="{% static '/css/app.82f88b36.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <noscript>
   <strong>
    We're sorry but vue-lms doesn't work properly without JavaScript enabled. Please enable it to continue.
   </strong>
  </noscript>
  <div id="app">
  </div>
  <script src="{% static '/js/chunk-vendors.aeb0b350.js' %}">
  </script>
  <script src="{% static '/js/app.ce7e87f3.js' %}">
  </script>
 </body>
</html>